primary = #232323
inputColor = rgba(255, 255, 255, 0.9)
resultColor = #E6E6E6

html
body
  margin 0
  padding 0
  font-size 20px
  font-family 'Helvetica Neue', 'Sans Unicode', 'Lucida Grande', sans-serif

section#zazu
  background-color darken(primary, 5%)
  -webkit-app-region drag
  cursor move

  input
    font-weight 300
    outline none
    font-size 40px
    width 500px
    padding 12px
    border 0
    background-color transparent
    -webkit-app-region no-drag
    cursor auto
    color inputColor

  iframe#preview
    border 0


  div.results
    display flex
    flex-direction row

    ul
      padding 0
      margin 0
      border-top 1px solid darken(primary, 10%)
      max-height 333px
      overflow hidden
      width 50%

      &:last-child
        width 100%

      & + div
        width 50%

      li
        display block
        height 45px
        line-height 45px
        border-bottom 1px solid darken(primary, 10%)
        -webkit-app-region no-drag
        cursor pointer
        width 100%

        .icon
          color resultColor
          text-align center
          line-height 30px
          height 30px
          width 30px
          margin 7.5px
          float left
          opacity 0.75

        h2, h3
          margin 0
          padding-left 10px
          color resultColor
          white-space nowrap
          overflow hidden
          text-overflow ellipsis
          font-weight 300

        h2
          font-size 20px
          line-height 25px
          color darken(resultColor, 8%)
          &:last-child
            font-size 20px
            line-height 45px

        h3
          font-size 15px
          line-height 15px

        &.active
          background-color lighten(primary, 8%)
          color white
          h2, h3
            color white
        &:hover
          background-color lighten(primary, 8%)
          color white
